body{
    margin: 0;
    background-color: #050506;
    overflow-x: hidden;
}
*{
    color: #ECE6E9;
    font-family: "SN Pro";
}
main {
    margin-left: 21vw;
}
.pkgbox {
	background-color: var(--body-black);
	width: 100%;
	margin: 5px;
	height: auto;
	border-radius: 15px;
    border: solid 2px var(--black);
    margin-left: calc(-6vw + 25px);
    padding-bottom: 25px;
}
.pkgbox .pkg {
	border: 2px solid var(--black);
	text-decoration: none;
	margin: 25px;
	font-size: 50px;
    text-align: center;
    width: calc(100% - 50px);
    border-radius: 5px;
    display: inline-block;
    color: var(--cool-dark-white);
    transition: 2s ease;
}
.pkgbox .pkg:hover {
    background-color: var(--cool-dark-white);
    color: var(--black);
}
.pkgdesc, .pkgver {
    color: #E6E0E3;
    width: 75%;
    padding: 7.5px;
    border-radius: 5px;
}
.pkgbox > * {
	font-size: 15px;
    margin: 0px 0px 0px 25px
}
.pkgbox > p > b {
	color: #ECE6E9;
}
.pkgbox > pre {
    width: 75%;
    border-radius: 5px;
    background-color: #161515;
}
.pkgbox > pre >  code {
    color: #F9F9F9;
}
@media all and (max-width: 830px){
    main {
        margin: 0px;
    }
    .reponame {
        font-size: 55px;
        margin-top: 50px;
    }
    .pkgbox {
        margin-left: 5px;
        width: calc(100% - 5px * 3);
    }
}
