body{
    margin: 0;
    background-color: #050506;
    overflow-x: hidden;
}
*{
    color: #ECE6E9;
    font-family: "SN Pro";
}
.reponame {
    padding: 50px;
    font-size: 75px;
    margin-top: 0px;
    width: 100%;
    z-index: -1;
    background-color: var(--cool-dark-white);
    color: var(--white);
    position: relative;
}
main {
    margin-left: 21%;
}
.alphabets {
    width: 75%;
    margin: 5px;
    border-radius: 25px;
    background: linear-gradient(to bottom, var(--cool-dark-white), #1F1F1F 50%);
    padding: 4px;
    border: none;
}
.alphabets a {
    display: block;
    padding: 25px;
    background-color: #151414;
    color: #ECE6E9;
}
.alphabets a:first-child {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.alphabets a:last-child {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.alphabets a:hover {
    background-color: #1c1c1c;
    cursor: pointer;
}
.pkgbox {
	background-color: var(--black);
	width: 70%;
	margin: 5px;
	height: auto;
	border-radius: 15px;
}
.pkgbox > .pkg {
	color: var(--black);
	text-decoration: none;
	margin: 25px;
	font-size: 50px;
    text-align: center;
    width: calc(100% - 50px);
    border-radius: 5px;
    display: inline-block;
    background-color: var(--cool-dark-white);
}
.pkgbox > .pkgdesc {
    color: #E6E0E3;
    width: 75%;
    padding: 7.5px;
    border-radius: 5px;
}
.pkgbox > .pkgver {
    color: #E6E0E3;
    width: 75%;
    padding: 7.5px;
    border-radius: 5px;
}
.pkgbox > .example {
    margin-left: 25px;
    font-size: 25px;
    color: #ECE6E9;
}
.pkgbox > * {
	color: black;
	font-size: 15px;
	margin-left: 25px;
}
.pkgbox > p > b {
	color: #ECE6E9;
}
.pkgbox > pre {
    width: 75%;
    border-radius: 5px;
    background-color: #161515;
}
.pkgbox > pre >  code {
    color: #F9F9F9;
}
.pkgbox > .insprogs {
   color: var(--cool-white); 
   padding-bottom: 50px
}
@media all and (max-width: 830px){
    main {
        margin: 0px;
    }
    .reponame {
        font-size: 55px;
    }
}
