:root{
    --cool-white: #e6e5e9;
    --cool-dark-white: #d2d3d5;
    --dark-gray: #202021;
    --black: #151516;
}
.mob-nav {
    display: none;
    width: 100vw;
    height: 50px;
    background-color: #111010;
    position: fixed;
    padding-bottom: 20px;
    padding-left: 25px;
    top: 0;
    z-index: 99;
}
.mob-nav .btn {
    color: white;
    display: inline-flex;
    align-items: center;
    font-size: 45px;
}
.mob-nav .btn:hover {
    cursor: pointer;
}
.mob-nav div h1 {
    bottom: 0;
    color: #E6ECE6;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
.mob-nav-panel a {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    background-color: #A6956D;
}
.mob-nav-panel a:hover {
    background-color: #8E7F5D;
    cursor: pointer;
}
.mob-nav-panel {
    top: 50px;
    transform: translateX(-110vw);
    margin-top: 20px;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(15, 15, 16, 0.2);
    backdrop-filter: blur(4px);
    transition: 1s ease-in-out;
}
.mob-nav:has(.btn:hover) + .mob-nav-panel {
    transform: translateX(0vw);
    box-shadow: 5px 5px 50px black;
}
.nav {
    background-color: var(--black);
    width: 21vw;
    height: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
} 
.nav div h1 {
    bottom: 0;
    padding: 25px;
    color: #808080;
    background: var(--cool-dark-white); 
    position: absolute;
    width: 100%;
}
.nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: var(--cool-white);
    padding: 30px;
    background: linear-gradient(45deg, var(--cool-dark-white) 0%, var(--black) 70%);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: -1200px;
    transition: 1s ease-in-out;
}
.nav a:hover {
    background-position: 0px;
}
@media all and (max-width: 830px) {
    .nav {
        display: none; 
    }
    .mob-nav {
        display: block;
    }
    .mob-nav-panel:hover {
        transform: translateX(0vw);
    }
}
