body {
    background-color: #050506;
    width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    color: var(--cool-white);
    font-family: "SN Pro";
}
main {
    margin-left: 20vw;
}
#heap {
    padding-left: 25px;
}
#cont2 img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc((300px / 2) - (100px / 2));
    display: block;
}
#proglangc img {
    width: 90px;
}
#cont2 {
    background-color: transparent;
    margin-left: -4vw;
}
#cont2 h2 {
    padding-left: 5px;
}
#cont2 p {
    font-size: 15px;
    padding-left: 5px;
    color: var(--cool-dark-white);
    width: 60%;
}
#cont2 div div:nth-child(2) {
    background-color: var(--black);
    width: 85%;
}
#cont2 div div:nth-child(1){
    height: 100%;
    width: 20%;
    border: none;
}
#proglangc, #proglangasm, #proglangbash, #markuplanghtml {
    height: 300px;
    display: flex;
}
#proglangc div:nth-child(1) {
    background: conic-gradient(#649bd3 40deg, #ffffff 150deg, #004283 250deg, #00579d 270deg, #649bd3 350deg);
}
#proglangasm div:nth-child(1) {
    background: conic-gradient(#0d47a1 40deg, #ffffff 150deg, #3949ab 250deg, #5969bf 270deg, #0d47a1 350deg);
}
#proglangbash div:nth-child(1){
    background: conic-gradient(#ededed 40deg, #434345 150deg, #413e45 250deg, #4cac23 270deg, #ededed 350deg);
}
#markuplanghtml div:nth-child(1) {
    background: conic-gradient(#e44d29 40deg, #ffffff 150deg, #f16529 250deg, #e44d29)
}
@media all and (max-width: 830px) {
    #cont2 img {
        width: 70px;
        height: 70px;
        margin-top: calc((300px / 2) - (70px / 2));
        margin-right: 0px;
        margin-left: calc((100% / 2) - (70px / 2));
        max-width: 100px;
        max-height: 100px;
    }
    #proglangc img {
        width: 60px;
    }
}
