body {
    background-color: #050506;
    width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    color: var(--cool-white);
    font-family: "SN Pro";
}
main {
    margin-left: 20vw;
}
.intro {
    z-index: -1;
    width: auto;
    margin: 15px;
    margin-left: -3vw;
    padding: 35px;
    font-size: 75px;
    position: relative;
    color: var(--white);
    background-color: var(--cool-dark-white);
    border-radius: 15px;
}
.headers {
    font-size: 50px;
    padding-left: 25px;
    position: relative;
}
#heap {
    padding-left: 25px;
}
.parap {
    width: 60%;
    padding-left: 25px;
}
#cont2 img {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: calc((100% / 2) - (90px / 2));
    display: block;
}
#proglangc img {
    width: 90px;
}
#cont2 {
    background-color: transparent;
    margin-left: -4vw;
}
#cont2 h2 {
    padding-left: 5px;
}
#cont2 p {
    font-size: 15px;
    padding-left: 5px;
    color: var(--cool-dark-white);
    width: 60%;
}
#cont2 div div:nth-child(2) {
    background-color: var(--black);
    width: 85%;
}
#cont2 div div:nth-child(1){
    height: 100%;
    width: 20%;
    border: none;
}
#proglangc, #proglangasm, #proglangbash, #markuplanghtml {
    height: 300px;
    display: flex;
}
#proglangc div:nth-child(1) {
    background: conic-gradient(#649bd3 40deg, #ffffff 150deg, #004283 250deg, #00579d 270deg, #649bd3 350deg);
}
#proglangasm div:nth-child(1) {
    background: conic-gradient(#0d47a1 40deg, #ffffff 150deg, #3949ab 250deg, #5969bf 270deg, #0d47a1 350deg);
}
#proglangbash div:nth-child(1){
    background: conic-gradient(#ededed 40deg, #434345 150deg, #413e45 250deg, #4cac23 270deg, #ededed 350deg);
}
#markuplanghtml div:nth-child(1) {
    background: conic-gradient(#e44d29 40deg, #ffffff 150deg, #f16529 250deg, #e44d29)
}
footer {
    margin-top: 250px;
    background-color: var(--black);
    padding: 25px;
    width: calc(100% - 16vw);
    margin-left: 16vw;
}
footer a {
    text-decoration: none;
    color: white;
}
footer p{
    color: white;
}
@media all and (max-width: 545px) {
    .intro {
        margin-top: 70px;
        font-size: 45px;
    }
    footer {
        margin-left: 0v
    }
}
@media all and (max-width: 830px) {
    main {
        margin-left: 0px;
    }
    .intro {
        margin-top: 70px;
    }
    footer {
        margin-left: 0px;
        width: 100%;
    }
    #cont2 img {
        display: none;
    }
}
