body {
    background-color: #050505;
    overflow-x: hidden;
}
*{
    margin: 0;
    color: #ECE6E9;
    font-family: "SN Pro";
}
main > *:not(.intro) {
    margin-left: 5px;
}
main {
    margin-left: 21%;
}
ul {
    padding-left: 10px;
}
li {
    list-style-type: none;
    border-radius: 5px;
    padding: 2px;
    color: var(--cool-dark-white);
    margin-bottom: 3px;
    width: 70%;
}
.contents {
    background-color: var(--black);
    height: 40%;
    width: calc( 100% - 25px );
    margin-left: 12.5px;
    overflow: scroll;
}
.contents .topics {
    background-color: var(--cool-dark-white);
    color: var(--black);
    padding: 10px 25px 10px 25px;
    max-width: 100%;
    height 50px;
}
.contents .subtopic {
    padding: 10px 25px 10px 25px;
    background: none;
    background-color: var(--dark-gray);
    background-position: 0px;
    transition: 2s ease;
    text-align: left;
}
.contents .subtopic-content {
    width: 100%;
    display: none;
}
.contents .subtopic-content a {
    height: 20px;
    padding: 5px 50px 5px 50px;
    text-align: left;
    background: #191919;
}
.contents .subtopic:hover, .contents .subtopic-content a:hover {
    background: linear-gradient(var(--light-gray), var(--light-gray));
    cursor: pointer;
}
.contents .subtopic:hover + div, .contents .subtopic-content:has(a:hover) {
    display: block
}
.contents .ssubtopic:hover:after, .contents:has(.subtopic-content a:hover) .ssubtopic:after {
    transform: rotate(90deg);
}
.ssubtopic:after {
    content: '>';
    font-weight: bold;
    display: inline-block;
    margin-left: 10px
}
.intro {
    background: var(--cool-dark-white);
    color: var(--white);
    font-size: 65px;
    padding: 60px;
    z-index: -1;
    word-break: break-all;
}
.bigheaders h1 {
    font-size: 55px;
}
.bigheaders {
    padding: 40px;
    font-size: 50px;
    z-index: -1;
}
.headers {
    font-size: 35px;
}
.mheaders {
    font-size: 25px;
}
.para {
    width: 80%;
}
.code {
    background-color: var(--cool-white);
    color: var(--black);
    border-radius: 10px;
    padding: 5px;
}
.note, .imp, .warn {
    width: 60%;
    position: relative;
    background-color: var(--black);
}
.note p {
    padding: 25px;
}
.note div, .imp div {
    background-color: var(--cool-dark-white);
    text-align: center;
    color: var(--black);
    padding: 20px;
    font-size: 25px;
}
.imp p {
    padding: 25px;
}
.warn p {
    padding: 25px;
}
.warn div {
    background-color: var(--dark-white);
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.op th {
    color: var(--black);
    padding: 20px;
}
td {
    padding: 5px;
    background-color: var(--black);
}
.heading {
    padding: 5px;
    background-color: var(--dark-white);
    color: var(--light-gray);
}
.heading > th {
    color: var(--white);
}
.cont .headers {
    margin: 0;
    padding-bottom: 0;
    color: var(--black);
}
.cont {
    padding-left: 25px;
    padding-bottom: 60px;
    width: 80%
}
.overflowmask {
    overflow: scroll;
}
.cont div {
    transition: 1s ease-in-out;
    background-color: #101010;
    width: calc(100% - 25px);
    font-size: 20px;
    padding: 25px;
    display: flex;
    color: var(--cool-white);
    border-left: 5px solid var(--cool-white);
}
.cont div:nth-of-type(1) {
    background-color: var(--cool-white);
    text-align: center
}
.cont div:nth-of-type(1) h2 {
    color: var(--black);
}
.cont div:last-child {
    padding: 0;
    height: 50px;
    padding-left: 25px;
    width: 100%;
    display: block;
}
.cont div:last-child div {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 0;
    width: 0;
    border-width: 0px;
    float: right;
    background-color: transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid #050506;
    transform: translateY(-50px);
}
.cont-intro {
    padding-right: 20px;
}
table {
    border-collapse: collapse
}
footer {
    margin-top: 250px;
    background-color: var(--black);
    padding: 25px;
    width: calc(100% - 21vw);
    margin-left: 21vw;
}
footer a {
    text-decoration: none;
    color: white;
}
footer p{
    color: white;
}
.op {
    background-color: var(--cool-dark-white);
}
.specpara {
    padding: 25px;
    height: 500px;
    width: calc(79vw - 60px);
    border-radius: 5px;
    background-color: var(--dark-cool-white);
}
.specpara p {
    color: var(--cool-white);
    font-size: 17px;
} 
.special-word {
    font-weight: 700;
    color: #a6a69c;
} 
.mob-nav-panel .contents {
    margin-top: 5px;
}
@media all and (max-width: 830px) {
    .intro {
        font-size: 50px;
        margin-top: 70px
    }
    main {
        margin-left: 0px
    }
    footer {
        width: auto;
        margin-left: 0px;
    }
}
