body {
    background-color: #050505;
    overflow-x: hidden;
}
*{
    margin: 0;
    color: #ECE6E9;
    font-family: "SN Pro";
}
main > *:not(.intro) {
    margin-left: 5px;
}
main {
    margin-left: 21%;
}
ul {
    padding-left: 10px;
}
.intro {
    background: var(--cool-dark-white);
    color: var(--white);
    font-size: 65px;
    padding: 60px;
    z-index: -1;
    word-break: break-all;
}
.bigheaders h1 {
    font-size: 55px;
}
.bigheaders {
    padding: 40px;
    font-size: 50px;
    z-index: -1;
}
.headers {
    font-size: 35px;
}
.mheaders {
    font-size: 25px;
}
.para {
    width: 80%;
}
.code {
    background-color: var(--cool-white);
    color: var(--black);
    border-radius: 10px;
    padding: 5px;
}
li {
    list-style-type: none;
    border-radius: 5px;
    padding: 2px;
    color: var(--cool-dark-white);
    margin-bottom: 3px;
}
.note {
    width: 60%;
    position: relative;
    background-color: #202020;
}
.note p {
    padding: 25px;
}
.note div, .imp div {
    background-color: var(--cool-dark-white);
    text-align: center;
    color: var(--black);
    padding: 20px;
    font-size: 25px;
}
.imp {
    width: 60%;
    position: relative;
    background-color: #202020;
}
.imp p {
    padding: 25px;
}
.warn {
    width: 60%;
    position: relative;
    background-color: #202020;
}
.warn p {
    padding: 25px;
}
.warn div {
    background-color: orange;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.op th {
    color: var(--black);
    padding: 20px;
}
td {
    padding: 5px;
    background-color: var(--black);
}
.heading {
    padding: 5px;
    background-color: var(--slate);
}
.cont .headers {
    margin: 0;
    padding-bottom: 0;
    color: var(--black);
}
.cont {
    padding-left: 25px;
    padding-bottom: 60px;
    width: 80%
}
.cont div {
    transition: 1s ease-in-out;
    background-color: #101010;
    width: 800px;
    font-size: 20px;
    padding: 25px;
    padding-right: calc(100% - 800px);
    display: flex;
    color: var(--cool-white);
    border-left: 5px solid var(--cool-white);
}
.cont div:nth-of-type(1) {
    background-color: var(--cool-white);
    text-align: center
}
.cont div:nth-of-type(1) h2 {
    color: var(--black);
}
.cont div:last-child {
    padding: 0;
    height: 50px;
    padding-left: 25px;
    width: 100%;
    display: block;
}
.cont div:last-child div {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 0;
    width: 0;
    border-width: 0px;
    float: right;
    background-color: transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid #050506;
    transform: translateY(-50px);
}
table {
    border-collapse: collapse
}
.op {
    background-color: var(--cool-dark-white);
}
.specpara {
    padding: 25px;
    height: 500px;
    width: calc(79vw - 60px);
    border-radius: 5px;
    background-color: var(--dark-gray);
}
.specpara p {
    color: var(--cool-white);
    font-size: 17px;
} 
.special-word {
    font-weight: 700;
    color: var(--white);
} 
@media all and (max-width: 830px) {
    .intro {
        font-size: 50px;
    }
    .nav {
        display: none; 
    }
    .bigheaders {
        background: linear-gradient(45deg, #050506, var(--cool-yellow) 70%);
    }
    ul {
        margin: 5px;
        padding-left: 30px;
    }
    .mob-nav {
        display: block;
    }
}
